name: Code Checker
on:
  - pull_request
  - push

jobs:
  backend:
    name: Backend Code Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Run biome
        run: bun run organize

      - name: Check types
        run: bun run type-check

      - name: Run tests
        run: bun run test
